# Data Shape

Let's take a quick look at the data.

Note, you'll need to install `pandas` and `numpy` packages, along with `ipykernel` prior to running the commands in this file. Also, make sure you've selected a kernel using the **Select Kernel** button in the upper right of this window.

In [82]:
## Before you run, make sure you have installed pandas in the notebook kernel. You only need to do this once.
## conda install -p .\.conda pandas requests

import io
import pandas as pd
import requests

# Round values to 3 decimal places.
pd.set_option('display.float_format', '{:.3f}'.format)

Next, we'll download and import the data into a data frame.

You'll immediately notice that the data frame is rather wide and includes columns for each month from January 31, 2000 to the present. The entire dataset is sorted by `SizeRank`, with `New York, NY` at the top and `Lamesa, TX` (a mere 13.31 kmÂ² according to a quick web search) at the bottom. The data does not include the actual size of the area, only it's rank.

In [83]:

url="https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv?t=1699740944"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')), encoding = "utf-8", index_col="RegionID")
df

,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
RegionID,,,,,,,,,,,,,,,,,,,,,
102001,0,United States,country,NaN,121428.348,121641.980,121906.914,122475.146,123129.114,123830.255,...,341524.687,340331.965,339460.291,339398.681,340364.872,341993.735,343935.027,345686.216,347311.245,348538.962
394913,1,"New York, NY",msa,NY,216218.985,217137.794,218065.112,219944.218,221890.098,224047.392,...,607957.914,607138.376,605781.039,606096.535,608105.121,612136.786,616308.017,619911.494,623211.985,625939.721
753899,2,"Los Angeles, CA",msa,CA,222303.045,223130.294,224232.183,226424.570,228822.355,231203.347,...,883096.482,874754.170,863791.280,853971.725,851581.706,855385.246,863224.274,874493.271,888127.785,901894.488
394463,3,"Chicago, IL",msa,IL,152289.701,152430.677,152699.168,153367.107,154170.558,155072.247,...,292513.670,291906.869,291753.785,292397.065,294085.140,296271.601,298827.032,301362.893,303811.358,305636.275
394514,4,"Dallas, TX",msa,TX,125341.331,125397.159,125461.338,125628.005,125847.751,126070.180,...,373653.262,371121.004,368863.612,367332.302,366782.695,367067.614,367882.974,368856.669,369775.451,370189.088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,NaN,...,128820.616,124500.077,121698.518,120678.497,120861.552,120377.368,119691.406,119336.614,119555.328,119218.474
394743,936,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,NaN,NaN,...,393779.436,391467.727,389754.325,387641.461,386519.304,386847.151,388239.179,389755.421,389345.067,387400.567
753874,937,"Craig, CO",msa,CO,98973.407,99226.488,99697.661,100368.653,101148.393,101883.417,...,265092.079,266386.963,267729.652,268933.718,271002.670,273691.861,277371.350,280306.435,282581.827,283845.902
395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,NaN,...,92945.807,90805.019,89793.168,90918.435,92419.783,93680.520,93642.904,93103.127,92088.769,91114.278
394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,NaN,...,98555.665,96911.962,95480.069,95333.336,95113.850,95043.244,93482.513,91595.111,89555.249,88424.315

The dataset only includes one row for country, and the rest refer to "msa" regions.

If you're curious, "msa" stands for [Metropolitan Statistical Area (MSA)](https://en.wikipedia.org/wiki/Metropolitan_statistical_area) or [Micropolitan Statistical Area (Î¼SA)](https://en.wikipedia.org/wiki/Micropolitan_statistical_area), which (according to Wikipedia) are geographical regions with a relatively high population density at their core and close economic ties. In other words, the region doesn't necessarily represent a single city, nor when combined do they represent an entire state. As of 2020, there were 927 such regions defined in the U.S., so the ZHVI doesn't include all of them.

In [84]:
df.groupby('RegionType').count()

,SizeRank,RegionName,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
RegionType,,,,,,,,,,,,,,,,,,,,,
country,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
msa,894,894,894,430,431,432,434,436,437,438,...,894,894,894,894,894,894,894,894,894,894

Except for the first few columns, the bulk of the row is numeric. Here's the descriptive statistics for those columns,
excluding the row for `country`.

In [85]:
mask = df['RegionType'].isin(['country'])
df[~mask].describe()

,SizeRank,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
count,894.000,430.000,431.000,432.000,434.000,436.000,437.000,438.000,439.000,440.000,...,894.000,894.000,894.000,894.000,894.000,894.000,894.000,894.000,894.000,894.000
mean,462.268,108310.946,108489.909,108641.374,109318.156,110056.874,110628.938,111391.303,112008.952,112686.244,...,269082.557,268102.307,267387.468,267428.560,268426.815,270038.184,271792.954,273200.063,274360.748,275202.858
std,268.416,47229.580,47344.088,47538.093,48193.002,48801.546,49423.743,50136.915,50879.421,51631.386,...,170065.736,168845.007,167760.402,166918.695,166848.095,167307.343,168402.724,169757.218,171245.325,172604.995
min,1.000,33790.976,33785.352,33768.394,33732.132,33714.860,33712.201,33791.096,33911.701,34086.412,...,47403.822,46430.329,45638.519,45586.664,46519.088,47387.346,47623.641,47130.116,46480.754,46117.540
25%,231.250,78069.762,78140.418,78211.301,78364.340,78552.122,78821.859,79272.481,79693.693,80057.032,...,167407.784,166770.291,166120.738,166044.607,166986.300,168574.178,170079.442,170854.114,171200.600,170700.444
50%,460.500,96952.700,97223.147,97193.681,97489.969,98126.272,98377.057,98893.484,99197.087,99715.148,...,216952.496,216102.575,216040.434,216792.061,218066.874,220567.482,222056.717,222955.546,223668.417,224644.541
75%,689.750,124617.175,124729.426,124914.014,125536.802,126500.417,127052.275,128229.353,128399.854,128703.986,...,314298.011,312788.332,314102.508,314705.876,316760.658,319608.243,322746.704,324832.799,325688.181,326169.497
max,939.000,364053.012,365929.309,368755.917,376410.574,384436.013,393631.234,401547.488,411291.531,421165.690,...,1430126.610,1420832.051,1411022.609,1401486.283,1399192.672,1406152.529,1422071.618,1440191.044,1452815.122,1461070.330

# Top 10 Most Expensive Markets (by average price)

Here are the same numbers as above, grouped by `StateName` and sorted in descending order by the mean house price, for the last year in our dataset. 

Note that `NaN` in the **Standard Deviation** column occurs when there's only 1 MSA listed.

In [86]:
df.groupby('StateName')[df.columns[-1]].describe().sort_values(by='mean', ascending=False).head(10)

,count,mean,std,min,25%,50%,75%,max
StateName,,,,,,,,
HI,4.000,846573.069,209775.812,547595.709,784518.195,907639.231,969694.105,1023418.106
MA,6.000,655387.412,423697.703,330513.897,375321.229,540659.317,689574.640,1461070.330
CA,34.000,594245.074,296048.577,232887.072,371551.825,478731.261,827769.439,1452953.524
CO,17.000,579980.341,294456.631,247119.893,330939.133,488766.176,731873.400,1233959.983
UT,9.000,501257.982,228528.396,247965.913,407439.404,480576.986,521252.611,1051647.918
MT,7.000,465991.852,155909.759,268173.209,348876.580,450424.701,582673.421,680245.054
WA,20.000,454441.916,104924.773,292343.520,391972.841,433832.556,514080.978,702227.364
RI,1.000,452490.898,NaN,452490.898,452490.898,452490.898,452490.898,452490.898
WY,9.000,451426.614,378236.407,269108.933,301164.225,311611.670,359926.335,1452155.247
ID,13.000,445249.357,169758.282,313995.621,340571.427,382304.949,458668.084,918629.890

# Handling date columns

Before we dig into this data further, I just wanted to share with you a method of parsing the column names as a date. 

The worst part about this data set is the decision to use the last day of the month in the date, rather than the first. This causes the last day of February to move between the 28th and the 29th for leap years, making even a minor calculation like **Year-Over-Year (YOY)** to be fraught with peril.

In [87]:
from datetime import datetime
import calendar

dformat = '%Y-%m-%d'
colname = '2020-02-29' ## df.columns[-1]
dt = datetime.strptime(colname, dformat)

year = dt.year - 1
day = dt.day if dt.month != 2 else 29 if calendar.isleap(year) else 28
dt_start = datetime(year, dt.month, day)

df[[dt_start.strftime(dformat), dt.strftime(dformat)]]

          2019-02-28  2020-02-29
RegionID
102001    235714.049  247953.292
394913    487458.886  502556.119
753899    655048.650  672504.837
394463    233914.068  238901.358
394514    248267.555  256390.420
...              ...         ...
753929    111969.390  120017.437
394743    308544.917  333663.595
753874    176003.703  187989.454
395188     71494.894   75979.635
394767     83382.031   91783.231

[895 rows x 2 columns]